.register-container{
  width: 400px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .content{
  width: 100%;
}
.register-container .title{
  font-size: 30px;
  margin-bottom: 20px;
}